/* Fonts */
@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/montserrat-regular.eot');
    src: url('./fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/montserrat-regular.woff') format('woff'),
         url('./fonts/montserrat-regular.ttf') format('truetype'),
         url('./fonts/montserrat-regular.svg#montserratregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./fonts/montserrat-bold.eot');
    src: url('./fonts/montserrat-bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/montserrat-bold.woff') format('woff'),
         url('./fonts/montserrat-bold.ttf') format('truetype'),
         url('./fonts/montserrat-bold.svg#montserratbold') format('svg');
    font-weight: 700;
    font-style: normal;

}
/* Reset */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
    font-family: "mozTT",sans-serif;
    font-size: 10px;
    font-weight: normal;
    height: 100%;
    margin: 0;
    padding: 0;
}
p{
  margin:0;
}
::selection {
  background: transparent; /* Safari */
  }
::-moz-selection {
  background: transparent; /* Firefox */
}
#main{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: -1px;
  overflow: hidden
}
#bpm{
  font-size: 75px;
  letter-spacing: -7px;
}
#time_signature_button{
  font-family: 'Montserrat-Bold', sans-serif;
  font-size:14px;
}

/*Position*/
#main,
#bg,
#bpm,
#tempo_mark,
#time_signature,
#motion_display,
#speed_slider,
#speed_slider_axis,
#mute_button,
#play_pause_button,
#decrease_speed_button,
#increase_speed_button,
#time_signature_button,
#slider_bg,
#slider_fill,
#slider_empty{
  position: absolute;
  display: block;
}
#bpm{
  top:5px;
  left:23px;
  position: relative;
  float: left;
}
#tempo_mark{
  top: 83px;
  left: 27px;
}
#time_signature{
  top: 21px;
  margin-left: 34px;
  position: relative;
  float: left;
}
#motion_display{
  top: 110px;
  left: 28px;
}
#mute_button{
  top: 11px;
  left: 256px;
}
#play_pause_button{
  top: 315px;
  left: 154px;
}
#decrease_speed_button{
  top: 415px;
  left: 123px;
}
#increase_speed_button{
  top: 283px;
  left: 255px;
}
#time_signature_button{
  top: 415px;
  left: 255px;
}
#speed_slider_axis {
    height: 640px;
    width: 640px;
    left: 0;
    top: 160px;
    transform: rotate(45deg);
}
#speed_slider {
    left: 23px;
    top: 293px;
    transform: rotate(-45deg);
}
#slider_fill,
#slider_empty{
  height: 320px;
  width: 640px;
}
#slider_bg{
    height: 640px;
    width: 640px;
    left: 0;
    top: 160px;
    transform: rotate(45deg);
}
#slider_fill{
    top: 320px;
    background-color: #ee2d2f;
}
#slider_empty{
    background-color: #171717;
}

/*Buttons*/
#mute_button,
#play_pause_button,
#decrease_speed_button,
#increase_speed_button,
#time_signature_button,
#speed_slider{
  background: none;
  border: none;
  overflow: hidden;
  width: 54px;
  height: 54px;
  padding-top: 54px;
  color:#fff;
}
#mute_button{
  background-image: url(../img/btn_mute.png);
}
#play_pause_button{
  background-image: url(../img/btn_play.png);
  width: 124px;
  height: 124px;
  padding-top: 124px;
}
#decrease_speed_button{
  background-image: url(../img/btn-.png);
}
#increase_speed_button{
  background-image: url(../img/btn+.png);
}
#time_signature_button{
  background-image: url(../img/btn_fraction.png);
  padding-top: 0px;
}
#speed_slider{
  background-image: url(../img/btn_slider.png);
  padding-top: 0px;
}
/*Inactive elements on start*/
#play_pause_button.disabled{
  opacity: 0.5;
}
#time_signature_dialog{
  display: none;
}

/* Main background */
#main{
  min-height: 480px;
  min-width: 320px;
}
#bg{
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url(../img/bg.png);
  min-height: 480px;
  min-width: 320px;
}

/* Debug */
#main:before{
/*
  content:"";
  background-repeat: no-repeat;
  background-image: url(../img/dev_KeonMetPS.png);
  min-height: 480px;
  min-width: 320px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  opacity:0.5;
*/
}