/* Reset */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
p{
  margin:0;
}

/* Fonts */
@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/montserrat-regular.eot');
    src: url('./fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/montserrat-regular.woff') format('woff'),
         url('./fonts/montserrat-regular.ttf') format('truetype'),
         url('./fonts/montserrat-regular.svg#montserratregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./fonts/montserrat-bold.eot');
    src: url('./fonts/montserrat-bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/montserrat-bold.woff') format('woff'),
         url('./fonts/montserrat-bold.ttf') format('truetype'),
         url('./fonts/montserrat-bold.svg#montserratbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
#main{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: -1px;
}
#bpm{
  font-size: 75px;
  letter-spacing: -7px;
}
#time_signature_button{
  font-family: 'Montserrat-Bold', sans-serif;
  font-size:14px;
}

/*Position*/
#main,
#bpm,
#tempo_mark,
#time_signature,
#mute_button,
#play_pause_button,
#decrease_speed_button,
#increase_speed_button,
#time_signature_button{
  position: absolute;
  display: block;
}
#bpm{
  top:5px;
  left:23px;
}
#tempo_mark{
  top: 83px;
  left: 27px;
}
#time_signature{
  top: 21px;
  left: 149px;
}
#mute_button{
  top: 11px;
  left: 256px;
}
#play_pause_button{
  top: 315px;
  left: 154px;
}
#decrease_speed_button{
  top: 415px;
  left: 123px;
}
#increase_speed_button{
  top: 283px;
  left: 255px;
}
#time_signature_button{
  top: 415px;
  left: 255px;
}
/*Buttons*/
#mute_button,
#play_pause_button,
#decrease_speed_button,
#increase_speed_button,
#time_signature_button{
  background: none;
  border: none;
  overflow: hidden;
  width: 54px;
  height: 54px;
  padding-top: 54px;
}
#mute_button{
  background-image: url(../img/btn_mute.png);
}
#play_pause_button{
  background-image: url(../img/btn_play.png);
  width: 124px;
  height: 124px;
  padding-top: 124px;
}
#decrease_speed_button{
  background-image: url(../img/btn-.png);
}
#increase_speed_button{
  background-image: url(../img/btn+.png);
}
#time_signature_button{
  background-image: url(../img/btn_fraction.png);
}

/* Debug */
#main:before{
  content:"";
  background-repeat: no-repeat;
  background-image: url(../img/dev_KeonMetPS.png);
  min-height: 480px;
  min-width: 320px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  opacity:0.5;
}